html,body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
a:visited {
  color: inherit;
  text-decoration: none;
 }
.be-red {
  background-color: rgb(200,50,50);
}

.be-white {
  color: white;
}
.large-padding {
  padding: 15px 10px;
}
.field{
  margin-top: 1em;
}


